{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-3">
    Tags
    <a class="btn btn-primary float-end" href="{% url 'app:tag-create' %}">Add tag</a>
  </h1>
  {% if tag_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for tag in tag_list %}
        <tr>
          <td>{{ tag.name }}</td>
          <td>
            <a href="{% url 'app:tag-update' pk=tag.id %}" class="btn btn-secondary">
              Update
            </a>
          </td>
          <td>
            <a href="{% url 'app:tag-delete' pk=tag.id %}" class="btn btn-secondary">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no tags in to-do app</p>
  {% endif %}
{% endblock %}